<div class="UsersWrap">
  <h1 class="users-h1">ユーザー詳細</h1>

  <div class="users-show-box">

    <div class="users-show-index">
      <div class="users-show-img">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>
      <div class="users-prof">
        <div class="name">
          <p>名前</p><%= @user.name %>
        </div>
        <div class="email">
          <p>メールアドレス</p><%= @user.email %>
        </div>
        <% if @current_user.id == @user.id.to_i %>
        <p class="edit">
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="posts">
    
    <%  @posts.each do |post| %>

    <%= link_to("/posts/#{post.id}/show") do %>

      <li class="posts__list">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
        <div class="posts__list__name"><%= post.user.name %></div>
        <div class="posts__list__content"><%= post.content %></div>
      </li>

    <% end %>

    <% end %>
    </ul>

</div>
