<div class="PostsWrap">
  <h1 class="posts-h1">編集する？削除する？</h1>
  <div class="posts-show">

    <div class="posts">
      <div class="posts__list">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <div class="posts__list__name"><%= link_to(@user.name, "/users/#{@user.id}/show") %></div>
        <div class="posts__list__content"><%= @post.content %></div>
      </div>
      <div class="posts__time">
        <%= @post.updated_at %>
      </div>
      <div class="edit-btn">

        <%= link_to("編集", "/posts/#{@post.id}/edit") %>

      </div>
      <div class="destroy-btn">

        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>

      </div>

    </div>
  </div>

</div>
